<div class="container main">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag(@user.avatar.url(:original), size:"200x200", class: "profile-pic")%>
      <h3>Name: <%= @user.firstname %></h3>
      <h4>Email: <%= @user.email %></h4>
        <% full_date = @user.created_at %>
        <% date = full_date.to_s %>
        <% month = date[5..6] %>
        <% day = date[8..9] %>
        <% year = date[0..3] %>
      <h4>Date joined: <%= "#{month}/#{day}/#{year}" %></h4>
      <h4>City: <%= @user.city %></h4>
      <hr>
      <% if current_user && current_user.id == @user.id %>
        <%= link_to "Edit profile", edit_user_path, class: "btn btn-outline-dark" %>
        <%= link_to "Delete profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "show_botton btn btn-outline-danger" %>
      <% end %>
    </div>

    <% if current_user %>
      <div class="message_box col-sm-4">
        <strong>Your messages: </strong>  
        <% @messages.each do |m|%>
              <div class="message_show">
                  <% if current_user != nil &&m.receiver_show == current_user.firstname %>
                    <%= m.content%>
                    --from <strong><%= link_to m.sender_name, user_path(m.user_id) %></strong>
                  <% end %>
              </div>
        <% end %>
        <div class="message_botton">
        <button type="button" class="message_send_button btn btn-primary" data-toggle="modal" data-target="#myModalMessage" data-whatever="@mdo">Send Message</button>
        <%= link_to "clear all messages", messages_path, method: :delete, data: {
          confirm: "Are you sure, you wanna delete all messages?" }, class: "message_deleted_button btn btn-outline-danger" %>
        </div>
      </div>
    <% else %>
      <div>
      <%= link_to "send message", new_user_path, class: "btn btn-primary" %>
      </div>
    <% end %>



    <% if current_user && current_user.id == @user.id %>
      <div class="col-md-4">
        <select class="form-control form-control-lg">
          <option value="add_category">Add a new type of skill</option>
          <option value="housekeeping">Housekeeping</option>
          <option value="cooking">Cooking</option>
          <option value="massage">Massage</option>
          <option value="haircut">Haircut</option>
          <option value="moving">Moving</option>
          <option value="painting">Painting</option>
        </select>
        <span class="add_new_skill_button btn btn-outline-dark add-skill float-right", onclick="addSkill()"> Add New Skill </span>
        <script>
          function addSkill() {
            var t = document.querySelector("select").value;
            if (t == "add_category") {
              window.location = `/categories/new`;
            }else{
            window.location = `/categories/${t}/skills/new`;
            }
          }
        </script>
      </div>
    <% end %>
  </div>


  <div class="row show_all_skills">
    <div class="col-sm-10 offset-md-2">
      <% @user.skills.each do |skill| %>
        <div class="row review">
            <div class="col-sm-11">
              <h3><%= skill.category.name.capitalize %> - <%= link_to skill.name, skill_path(skill) %></h3>
              <p><%= skill.cost %></p>
            </div>
          <div class="col-sm-1 float-right">
            <% if current_user && current_user.id == @user.id %>
              <%= link_to edit_skill_path(skill) do %><%= fa_icon "edit" %><% end %>
              <br>
              <%= link_to skill_path(skill.id), method: :delete, data: { confirm: "Are you sure?" } do %><%= fa_icon "trash" %><% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- Modal for message -->
  <div class="modal fade" id="myModalMessage" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                Message
            </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            <%= form_for @message do |f| %>
            <p>Send to:</p>
            <div>
              <%= f.text_field :receiver_name, placeholder: "receiver", :value => "#{@user.firstname}" %>
            </div>
            <div>
              <%= f.text_area :content, placeholder: "Content", style: "width:80%; height:20vh; margin-top:2%" %>
            </div>
            <%= f.submit "Send", :class => "btn btn-default", style: "margin-top:2%"%>
            <%end%>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                        Close
            </button>
        </div>
      </div>
    </div>
  </div>