<div class="container main">
  <div class="row">
    <h1 class="display-5"><%= link_to @skill.category.name.capitalize, category_path(@skill.category.name) %></h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%=link_to image_tag(@user.avatar.url(:original), size: "200x200", class: "profile-pic"), user_path(@user) %>
      <h3>Name: <%= @user.firstname %></h3>
      <h4>City: <%= @user.city %></h4>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <h2><%= @skill.name.capitalize %></h2>
          <p><%= @skill.description %></p>
          <p><%= @skill.cost %></p>
        </div>
      </div>
    </div>
  </div>
</div>
