<section class="header_main">
  <div class="container">
    <div class="row">
      <div class="gallery">
        <figure>
          <picture>
            <%= image_tag "Dwayne_Johnson_pic.png", id: "img_1", class: "image" %>
          </picture>
          <figcaption>
            <small>Dwayne_Johnson</small><br>
            <strong>Powerful Remover</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "housekeeper_pic.png", id: "img_2", class: "image" %>
          </picture>
          <figcaption>
            <small>Stephen Curry</small><br>
            <strong>Professional Housekeeper</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "massagist_pic.png", id: "img_3", class: "image" %>
          </picture>
          <figcaption>
            <small>Ellen Lee</small><br>
            <strong>Skilled Massagist</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "Obama_pic.png", id: "img_4", class: "image" %>
          </picture>
          <figcaption>
            <small>Barack Obama</small><br>
            <strong>I am a Professional Hairdresser</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "Trump_pic.png", id: "img_5", class: "image" %>
          </picture>
          <figcaption>
            <small>Donald Trump</small><br>
            <strong>Hardworking Painter</strong>
          </figcaption>
        </figure>
      </div>
    </div>
</div>
</section>


<!-- <div id="cf">
  <img class="bottom" src="/images/Cirques.jpg" />
  <img class="top" src="/images/Clown%20Fish.jpg" />
</div> -->

<!-- 
<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
<%= link_to "see all owners", root_path %> -->