<section class="header_main">
  <div class="container">
    <div class="row">
      <div class="gallery">
        <figure>
          <picture>
            <%= image_tag "moving_category.png", id: "img_1", class: "image" %>
          </picture>
          <figcaption>
            <small>Dwayne_Johnson</small><br>
            <strong>Powerful Remover</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "housekeeping_category.png", id: "img_2", class: "image" %>
          </picture>
          <figcaption>
            <small>Stephen Curry</small><br>
            <strong>Professional Housekeeper</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "massage_category.png", id: "img_3", class: "image" %>
          </picture>
          <figcaption>
            <small>Ellen Lee</small><br>
            <strong>Skilled Massagist</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "haircut_category.png", id: "img_4", class: "image" %>
          </picture>
          <figcaption>
            <small>Barack Obama</small><br>
            <strong>I am a Professional Hairdresser</strong>
          </figcaption>
        </figure>
        <figure>
          <picture>
            <%= image_tag "painting_category.png", id: "img_5", class: "image" %>
          </picture>
          <figcaption>
            <small>Donald Trump</small><br>
            <strong>Hardworking Painter</strong>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="homepage_title">
  <strong class="title_to_earn"> Be Your Own Boss, Value yourself </strong><br>
  <small class="get_to_earn">
    <%= link_to "Get Start to Earn", new_user_path, class: "to_earn" %>
  </small>
  </div>
</section>

<div class="container">
  <div class="row">

    <div class="categories_listing col-md-3">
      <p class="category_list_title">Categories Lists</p>
      <div class="all_lists">
      <% @categories.each do |category| %>
        <ul>
          <li class="categories_list"><%= link_to "#{category.name.capitalize}", category_path(category.name) %></li>
        </ul>
      <% end %> 
      </div>
    </div>

    <div class="col-md-9 user_link">
      <% @users.each do |user| %>
        <%= link_to image_tag(user.avatar.url(:original), size: "200x200", class: "profile-pic"), user_path(user) %>
      <% end %>
    </div>

  </div>
</div>
