<div class="container main">
  <div class="row">
    <h1 class="display-5">Hi, <%= @user.firstname %></h1>
  </div>
  <div class="row justify-content-md-center form">
    <div class="col-sm-5">
      <h2>Create a new type of skill</h2>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <%= form_for @category, url: categories_path do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Type of Skill", class:"new_category_input form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "Description", class:"new_category_input form-control" %>
        </div>
        <%= f.submit "Save Category", class:"new_category_input_btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>