<!DOCTYPE html>
<html>
  <head>
    <title>Skillist</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Share:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo|Share:700" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class= "logo" ><%= link_to "Skillist", root_path%></div>
          
            <div>
              <%= link_to "Profile", user_path(current_user.id), class: "bar_link" %>
              <%= link_to "Log Out", logout_path, class: "bar_link" %>
            </div>
         
            <div>
              <%= link_to "Sign Up", new_user_path, class: "bar_link" %>
              <%= link_to "Log In", login_path, class: "bar_link" %>
            </div>
         
      </div>
    </nav>

    <nav class="category_bar" role="navigation">
      <div class="categories">
          <div class="category"><%= link_to "Housekeeking", class: "category_link"  %></div>
          <div class="category"><%= link_to "Cooking", class: "category_link" %></div>
          <div class="category"><%= link_to "Massage", class: "category_link" %></div>
          <div class="category"><%= link_to "Haircut", class: "category_link" %></div>
          <div class="category"><%= link_to "Moving", class: "category_link" %></div>
          <div class="category"><%= link_to "Paiting", class: "category_link" %></div>
          <div class="category"><%= link_to "All Categories", class: "category_link" %></div>
      </div>
    </nav>

    <% flash.each do |name, msg| %>
      <div id="flash-message" class="<%= name %>">
        <div class="container">
          <p>
            <%= name.capitalize %>: <%= msg %>
          </p>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
